@model Course

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 d-flex">
            <div>  <img style="width:150px;height=100px" src="~/assets/img/@Model.Image" alt="" /> </div>
            <div>
                <div>Trainer Id : <strong>@Model.Id</strong></div>
                <div>Trainer Title : <strong>@Model.Title</strong></div>
                <div>Trainer Category : <strong>@Model.Category</strong></div>
                <div>Trainer Price : <strong>@Model.Price</strong></div>
                <div>Trainer Description : <strong>@Model.Description</strong></div>
                <div>Trainer Trainer Name : <strong>@Model.Trainer.FullName</strong></div>
            </div>

        </div></
    </div>
</div>

