@model HomeVm
    <section id="hero" class="hero section dark-background">

      <img src="assets/img/hero-bg.jpg" alt="" data-aos="fade-in">

      <div class="container">
        <h2 data-aos="fade-up" data-aos-delay="100">Learning Today,<br>Leading Tomorrow</h2>
        <p data-aos="fade-up" data-aos-delay="200">We are team of talented designers making websites with Bootstrap</p>
        <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
          <a asp-controller="getstarted" asp-action="started" class="btn-get-started">Get Started</a>
        </div>
      </div>

    </section>


    <section id="about" class="about section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
                <h3>Mentor – Free Education Bootstrap</h3>
            <p class="fst-italic">
                    Mentor is a modern, clean, and professional Bootstrap-based website template designed specifically for educational institutions, online course platforms, training centers, and learning management systems. Built with HTML5, CSS3, and Bootstrap, Mentor offers a fully responsive layout that adapts seamlessly to all devices and screen sizes. It features a stylish homepage, course listings, teacher profiles, testimonials, and contact forms. The template is easy to customize, SEO-friendly, and perfect for building a strong online presence for schools, academies, or individual instructors.
                </p>
           
          </div>

        </div>

      </div>

    </section>

    <section id="counts" class="section counts light-background">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6">
            <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="@Model.Count
                    " data-purecounter-duration="1" class="purecounter"></span>
                    <p>Students</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="@Model.Courses.Count()" data-purecounter-duration="1" class="purecounter"></span>
              <p>Courses</p>
            </div>
          </div>

        
          <div class="col-lg-4 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="@Model.Trainers.Count()" data-purecounter-duration="1" class="purecounter"></span>
              <p>Trainers</p>
            </div>
          </div>

        </div>

      </div>

    </section>

    <section id="why-us" class="section why-us">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="why-box">
              <h3>Why Choose Our Products?</h3>
              <p>
                        Here are some compelling reasons why you might choose Mentor
                        Here are some compelling reasons why you might choose Mentor
                        Here are some compelling reasons why you might choose Mentor
                        Here are some compelling reasons why you might choose Mentor
                        Here are some compelling reasons why you might choose Mentor
                        Here are some compelling reasons why you might choose Mentor
                    </p>
             
            </div>
          </div>

          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">

        @foreach (var wUs in Model.WhyUses)
                    {
                        <div class="col-xl-4">
                            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                               @Html.Raw(wUs.Icon)
                                <h4>@wUs.Name</h4>
                                <p>@wUs.Description</p>
                            </div>
                        </div>
                    }

            </div>
          </div>

        </div>

      </div>

    </section>

    
    <section id="features" class="features section">

      <div class="container">

        <div class="row gy-4">

           @foreach (var mTag in Model.MentorTags)
            {
                <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="features-item">
                        <i class="bi bi-mortarboard" style="color: #e80368;"></i>
                        <h3><a class="stretched-link"> @mTag.Name</a></h3>
                    </div>
                </div>

            }

        </div>

      </div>

    </section>

  
    <section id="courses" class="courses section">

  
      <div class="container section-title" data-aos="fade-up">
        <h2>Courses</h2>
        <p>Courses</p>
      </div>

      <div class="container">

        <div class="row">

            @foreach (var course in Model.Courses)
            {
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="course-item">
                        <img src="~/assets/img/@course.Image" class="img-fluid" alt="...">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <p class="category">@course.Category</p>
                                <p class="price">$@course.Price</p>
                            </div>
                            <h3><a asp-controller="courses" asp-action="detail" asp-route-id="@course.Id">@course.Title</a></h3>
                            <p class="description">@course.Description</p>
                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="trainer-profile d-flex align-items-center">
                                    <img src="~/assets/img/team/@course.Trainer.TrainerImage" class="img-fluid" alt="">
                                    <a class="trainer-link">@course.Trainer.FullName</a>
                                </div>
                                <div class="trainer-rank d-flex align-items-center">
                                    <i class="bi bi-person user-icon"></i>&nbsp;50
                                    &nbsp;&nbsp;
                                    <i class="bi bi-heart heart-icon"></i>&nbsp;65
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

 

        </div>

      </div>

    </section>


    <section id="trainers-index" class="section trainers-index">

      <div class="container">

        <div class="row">

            @foreach (var trainer in Model.Trainers)
            {
                <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">
                        <img src="assets/img/team/@trainer.TrainerImage" class="img-fluid" alt="">
                        <div class="member-content">
                            <h4>@trainer.FullName</h4>
                            <span>@trainer.Expertise</span>
                            <p>
                                @trainer.Bio
                            </p>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>

      </div>

    </section>