@model List<WhyUs>
<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

    <h2>WhyUss list :</h2>
    <div>
        <a class="btn btn-primary" asp-action="create" asp-controller="WhyUs">
            Add new WhyUs
        </a>
    </div>
    <table>
        <tr>
            <th>Id</th>
            <th>Fullname</th>
            <th>Crud</th>
        </tr>
        @foreach (var WhyUs in Model)
        {
            <tr>
                <td>@WhyUs.Id</td>
               
                <td>@WhyUs.Name</td>
                <td>
                    <a class="btn btn-primary" asp-action="edit" asp-controller="WhyUs" asp-route-id="@WhyUs.Id">
                        Edit
                    </a>
                    <a class="btn btn-primary" asp-action="detail" asp-controller="WhyUs" asp-route-id="@WhyUs.Id">
                        Details
                    </a>
                    <a asp-action="delete" asp-controller="WhyUs" asp-route-id="@WhyUs.Id" class="btn btn-danger">
                        Delete
                    </a>
                </td>
            </tr>
        }


    </table>

</body>
</html>

