@model Pricing

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 d-flex">
            <div>
                <div>Pricing Id : <strong>@Model.Id</strong></div>
                <div>Pricing FullName : <strong>@Model.Name</strong></div>
                <div>Pricing isFeature ? : <strong> @Model.IsFeatured</strong></div>
                <div>Pricing isAdvanced : <strong>@Model.IsAdvanced</strong></div>
                <div>Pricing Price : <strong>@Model.Price</strong></div>
            </div>

        </div></
    </div>
</div>

